
<nav class="navbar navbar-expand-lg sticky-top" style="background: #005f73; color: white;">
    <div class="container-fluid px-3">
        <a class="navbar-brand text-white" href="/home"><i class="fa-solid fa-book"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="/home/showMyCourses">My Courses</a>
                </li>
                <% if(currUser && currUser.role==='instructor'){%>
                <li class="nav-item">
                    <a class="nav-link active text-white" href="/createCourse"><b>Create Course</b></a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/vision"><b>Our Vision</b></a>
                </li>
            </ul>
            <form class="d-flex w-100 w-md-50 mx-auto my-2 my-lg-0" action="/home/search" method="GET">
                <input class="form-control me-2" type="search" placeholder="Search for courses..." aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="navbar-nav ms-auto d-flex align-items-center">
                <% if (!currUser) { %>
                <a class="signUp nav-link mx-1" href="/signup"><b>Sign Up</b></a>
                <a class="login nav-link mx-1" href="/login"><b>Login</b></a>
                <% } else { %>
                <a class="logout nav-link mx-1" href="/logout"><b>Log out</b></a>
                <% } %>
                <button class="btn btn-outline-primary ms-2" id="chatbot-toggle">
                    <i class="fa-solid fa-robot"></i> Chat
                </button>
            </div>
        </div>
    </div>
</nav>
<div id="chatbot-container" class="position-fixed" style="bottom: 20px; right: 20px; width: 90%; max-width: 350px; height: auto; max-height: 500px; display: none; z-index: 1000;">
    <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <span>Course Assistant</span>
            <button class="btn-close btn-close-white" id="chatbot-close"></button>
        </div>
        <div class="card-body" id="chatbot-messages" style="max-height: 400px; overflow-y: auto;"></div>
        <div class="card-footer">
            <div class="input-group">
                <input type="text" class="form-control" id="chatbot-input" placeholder="Ask me anything...">
                <button class="btn btn-primary" id="chatbot-send">Send</button>
            </div>
        </div>
    </div>
</div>